#:schema https://json.schemastore.org/any.json

root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
  cmd = "go build -o ./tmp/bitx-dev ./cmd/server"
  bin = "tmp/bitx-dev"
  delay = 500
  include_ext = ["go"]
  exclude_dir = ["tmp", "vendor", "data"]
  exclude_regex = ["_test.go"]
  stop_on_error = true

[color]
  app = ""
  build = "yellow"
  main = "red"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  silent = false
  time = true

[misc]
  clean_on_exit = false

[proxy]
  app_port = 0
  enabled = false
  proxy_port = 0

[screen]
  clear_on_rebuild = false
  keep_scroll = true
